{
	"tor_proxy": [
		{
			"name": "tor-container-name",
			"type": "container",
			"port": tor-port-in-container
		},
		{
			"name": "tor-host-name",
			"type": "remote",
			"port": tor-port-in-remote-host
		}
	]
}
